<table ><thead ><tr ><th >refcode
</th><th >has_disorder
</th><th >occupancy
</th><th >conf_label
</th><th >torsion1
</th><th >torsion2
</th><th >torsion3
</th><th >space group
</th></tr></thead><tbody ><tr ><td >ACERUY
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >30.013649500342392
</td><td >63.83159947924098
</td><td >178.21117497896267
</td><td >P21/n
</td></tr><tr ><td >ACERUY
</td><td >True
</td><td >0.659
</td><td >TG
</td><td >103.86368179296046
</td><td >-169.91999349285817
</td><td >68.39495203069272
</td><td >P21/n
</td></tr><tr ><td >ACERUY
</td><td >True
</td><td >0.341
</td><td >G'G'
</td><td >103.86368179296046
</td><td >-81.1067181182205
</td><td >-63.10561075655424
</td><td >P21/n
</td></tr><tr ><td >AHIYUN
</td><td >True
</td><td >0.5
</td><td >TT
</td><td >112.95076749418222
</td><td >-174.2832699433312
</td><td >-159.6438343897045
</td><td >C2/c
</td></tr><tr ><td >AHIYUN
</td><td >True
</td><td >0.5
</td><td >TE'
</td><td >112.95076749418222
</td><td >-174.2832699433312
</td><td >-111.6924693597978
</td><td >C2/c
</td></tr><tr ><td >AJIJEK
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >108.90676196555262
</td><td >-62.34187855209104
</td><td >-168.48990957990702
</td><td >Pcca
</td></tr><tr ><td >AJIJEK
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >-80.55089270004443
</td><td >-58.49981488385283
</td><td >179.1792515062017
</td><td >Pcca
</td></tr><tr ><td >AJOQEX
</td><td >False
</td><td >1.0
</td><td >TG'
</td><td >-39.14527111578294
</td><td >174.56327499935034
</td><td >65.11826635885805
</td><td >Pca21
</td></tr><tr ><td >AJOQEX
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >118.92879362107597
</td><td >-174.771677315866
</td><td >177.54934500065818
</td><td >Pca21
</td></tr><tr ><td >AJOQEX
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-142.8609234522146
</td><td >57.57340907638763
</td><td >173.68583464633926
</td><td >Pca21
</td></tr><tr ><td >ALUHUM
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >119.00588422102544
</td><td >-59.14399944392406
</td><td >-163.2231611506945
</td><td >P21/n
</td></tr><tr ><td >ASETAU
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >78.26252734364196
</td><td >-150.42192129752505
</td><td >-172.30574314724163
</td><td >P-1
</td></tr><tr ><td >ASETAU
</td><td >False
</td><td >1.0
</td><td >TG'
</td><td >-82.2510619350496
</td><td >167.51880639956156
</td><td >85.25726773522608
</td><td >P-1
</td></tr><tr ><td >ASETAU
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >87.63670661943065
</td><td >172.2476132609554
</td><td >-163.22769018569102
</td><td >P-1
</td></tr><tr ><td >ASETAU
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-95.50170738063534
</td><td >162.8891117225044
</td><td >-176.21248868667323
</td><td >P-1
</td></tr><tr ><td >ASETAU
</td><td >False
</td><td >1.0
</td><td >TG'
</td><td >101.58913657235202
</td><td >-151.35294387532983
</td><td >-80.88102292528332
</td><td >P-1
</td></tr><tr ><td >BEHREN
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-104.8810600749989
</td><td >-177.76599288760278
</td><td >179.53815958403976
</td><td >R-3
</td></tr><tr ><td >BELQIU
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >132.20937440859868
</td><td >-179.1523578798209
</td><td >-156.42197445608892
</td><td >P-1
</td></tr><tr ><td >BIXHEX
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >98.15862403539535
</td><td >-174.06340152326453
</td><td >-179.262654597284
</td><td >P-1
</td></tr><tr ><td >BIZNEF
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-73.26069456196541
</td><td >166.09938990403907
</td><td >-175.79192792511074
</td><td >C2/m
</td></tr><tr ><td >BOPWIP
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-86.78010143049035
</td><td >-172.37945658953075
</td><td >-173.96158434473483
</td><td >Pna21
</td></tr><tr ><td >BOPWIP
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-105.73183947835146
</td><td >-178.374484564354
</td><td >175.058129269472
</td><td >Pna21
</td></tr><tr ><td >BOPWIP
</td><td >False
</td><td >1.0
</td><td >ST
</td><td >-104.04880807998998
</td><td >10.005891203103435
</td><td >173.76302912240317
</td><td >Pna21
</td></tr><tr ><td >BOZCEA
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-86.67523439865982
</td><td >179.62770692989534
</td><td >-175.79338658439514
</td><td >P-1
</td></tr><tr ><td >BUNTOV
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-81.56114385388183
</td><td >177.0596896069511
</td><td >176.06509579253103
</td><td >P21/c
</td></tr><tr ><td >BUNTOV
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >109.32011538671503
</td><td >-48.34048223154584
</td><td >-168.7659325821961
</td><td >P21/c
</td></tr><tr ><td >BUNTOV
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >89.54814492610276
</td><td >-66.16129414256076
</td><td >-177.03742192767447
</td><td >P21/c
</td></tr><tr ><td >BUNTOV
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >96.19870701758002
</td><td >-178.36820551430768
</td><td >-174.7239153205162
</td><td >P21/c
</td></tr><tr ><td >BUNTOV
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >133.8335426259867
</td><td >-174.2001939181716
</td><td >-172.20215251515577
</td><td >P21/c
</td></tr><tr ><td >BUNTOV
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-112.01487301051539
</td><td >47.08582088874396
</td><td >160.1305824170813
</td><td >P21/c
</td></tr><tr ><td >BUNTOV
</td><td >True
</td><td >1.0
</td><td >TG'
</td><td >109.99364034814934
</td><td >-171.62421411575596
</td><td >-69.09399631952229
</td><td >P21/c
</td></tr><tr ><td >BUNTOV
</td><td >True
</td><td >1.0
</td><td >TE
</td><td >152.8367037389339
</td><td >-172.93991129916182
</td><td >132.8321987095213
</td><td >P21/c
</td></tr><tr ><td >CEMKAH
</td><td >True
</td><td >0.628
</td><td >G'T
</td><td >-98.1354308200314
</td><td >70.97700559512869
</td><td >179.05585171447876
</td><td >P-1
</td></tr><tr ><td >CEMKAH
</td><td >True
</td><td >0.372
</td><td >TT
</td><td >-98.1354308200314
</td><td >-178.79887060166453
</td><td >-179.22905873487565
</td><td >P-1
</td></tr><tr ><td >COXQUC
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >82.95082948431389
</td><td >174.55421931217617
</td><td >65.27751061788382
</td><td >P-1
</td></tr><tr ><td >CUQKOQ
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-73.48953363258903
</td><td >-72.1818724845098
</td><td >-175.54264255673183
</td><td >P212121
</td></tr><tr ><td >DAZJIA
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-87.98084385129633
</td><td >-168.47633993886606
</td><td >-172.0693420586926
</td><td >P21/c
</td></tr><tr ><td >DAZJIA
</td><td >True
</td><td >0.917
</td><td >G'T
</td><td >109.31472492461114
</td><td >-61.901697097671395
</td><td >-171.89755707591445
</td><td >P21/c
</td></tr><tr ><td >DAZJIA
</td><td >True
</td><td >0.083
</td><td >GT
</td><td >109.31472492461114
</td><td >58.73240402854833
</td><td >175.38666601882278
</td><td >P21/c
</td></tr><tr ><td >DEZJUP
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-96.92041845649653
</td><td >64.75647357304754
</td><td >-177.09314367073216
</td><td >P21
</td></tr><tr ><td >DEZJUP
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >110.36406813446332
</td><td >-61.7408685746974
</td><td >-179.95658336565546
</td><td >P21
</td></tr><tr ><td >DIDLUY
</td><td >True
</td><td >1.0
</td><td >TG
</td><td >137.56372031474965
</td><td >175.27026766303038
</td><td >69.80436270857435
</td><td >P-1
</td></tr><tr ><td >DIDLUY
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >178.81102141400308
</td><td >-177.0384792028557
</td><td >159.62396458447915
</td><td >P-1
</td></tr><tr ><td >DIDLUY
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >-97.49871796913072
</td><td >-77.41829521214866
</td><td >-166.86307901399607
</td><td >P-1
</td></tr><tr ><td >DOCBAZ
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >91.5886484716683
</td><td >63.227931030522825
</td><td >174.35963200437502
</td><td >P21
</td></tr><tr ><td >DOGKIW
</td><td >True
</td><td >0.835
</td><td >TG'
</td><td >-88.65823923645175
</td><td >172.03402220256407
</td><td >69.29244075874398
</td><td >P-1
</td></tr><tr ><td >DOGKIW
</td><td >True
</td><td >0.165
</td><td >TE'
</td><td >-88.65823923645175
</td><td >172.03402220256407
</td><td >120.39833467288959
</td><td >P-1
</td></tr><tr ><td >DOGKIW
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >66.37582369105496
</td><td >168.73757427869486
</td><td >-177.80089846998138
</td><td >P-1
</td></tr><tr ><td >DOWXOD
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-80.19495269367745
</td><td >-71.8036744995359
</td><td >-169.78289104804765
</td><td >C2/c
</td></tr><tr ><td >DULKIG
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >54.26427726769841
</td><td >-177.90794255102216
</td><td >175.47702613914922
</td><td >P-1
</td></tr><tr ><td >DULKOM
</td><td >True
</td><td >0.866
</td><td >GT
</td><td >46.15762290277634
</td><td >54.89017275931712
</td><td >-179.51659593559708
</td><td >Pnma
</td></tr><tr ><td >DULKOM
</td><td >True
</td><td >0.134
</td><td >SG'
</td><td >46.15762290277634
</td><td >1.5050937647407754
</td><td >-76.36111686599371
</td><td >Pnma
</td></tr><tr ><td >DUXJUC
</td><td >True
</td><td >0.25
</td><td >G'E
</td><td >-108.89467772284081
</td><td >75.93597038287487
</td><td >-147.57938229929948
</td><td >P-1
</td></tr><tr ><td >DUXJUC
</td><td >True
</td><td >0.25
</td><td >ES
</td><td >-108.89467772284081
</td><td >-137.30749148473663
</td><td >11.037107851037353
</td><td >P-1
</td></tr><tr ><td >EGAMII
</td><td >False
</td><td >1.0
</td><td >TE'
</td><td >-94.43273545945732
</td><td >-173.8324035437625
</td><td >91.58760988068062
</td><td >P-1
</td></tr><tr ><td >EKIBEH
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-75.8004752640119
</td><td >-66.23653048167074
</td><td >-179.602688364031
</td><td >Pna21
</td></tr><tr ><td >FAGNIL
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-104.7344507979736
</td><td >56.336655260319084
</td><td >173.16860531303303
</td><td >P21/c
</td></tr><tr ><td >FAGNIL
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-50.43613892741939
</td><td >-177.1569745517791
</td><td >-76.67352782136149
</td><td >P21/c
</td></tr><tr ><td >FILVAA
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >-79.4176100207293
</td><td >-68.50641995321642
</td><td >179.49851388503697
</td><td >P21/n
</td></tr><tr ><td >FILVAA
</td><td >True
</td><td >1.0
</td><td >GG
</td><td >66.92180727152963
</td><td >58.51555459436072
</td><td >64.12158370358019
</td><td >P21/n
</td></tr><tr ><td >FILVAA
</td><td >True
</td><td >0.72
</td><td >TG'
</td><td >-53.64451340897894
</td><td >177.3168687648636
</td><td >65.98803102623472
</td><td >P21/n
</td></tr><tr ><td >FILVAA
</td><td >True
</td><td >0.28
</td><td >TG
</td><td >-53.64451340897894
</td><td >179.48633353536766
</td><td >-31.68122533972619
</td><td >P21/n
</td></tr><tr ><td >FILVAA
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >63.50169496244997
</td><td >-177.7661384835325
</td><td >177.22727674095242
</td><td >P21/n
</td></tr><tr ><td >FILVAA01
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >-75.0454330079461
</td><td >-65.62389526938723
</td><td >-177.31952777496113
</td><td >P21/n
</td></tr><tr ><td >FILVAA01
</td><td >True
</td><td >1.0
</td><td >GG
</td><td >74.00344466414752
</td><td >53.82918332822478
</td><td >78.25748325889441
</td><td >P21/n
</td></tr><tr ><td >FILVAA01
</td><td >True
</td><td >0.569
</td><td >TE'
</td><td >-54.14188574062596
</td><td >175.70891620069565
</td><td >109.8168419552654
</td><td >P21/n
</td></tr><tr ><td >FILVAA01
</td><td >True
</td><td >0.431
</td><td >TG
</td><td >-54.14188574062596
</td><td >-172.33787735094276
</td><td >-89.3614386433783
</td><td >P21/n
</td></tr><tr ><td >FILVAA01
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >61.96708076034632
</td><td >-175.8931254985669
</td><td >172.2595323761639
</td><td >P21/n
</td></tr><tr ><td >FILVAA02
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >-74.36349130772604
</td><td >-64.03946696361064
</td><td >-174.95942397611648
</td><td >P21/n
</td></tr><tr ><td >FILVAA02
</td><td >True
</td><td >1.0
</td><td >GG
</td><td >76.54174357682008
</td><td >52.977928393161136
</td><td >85.75700105963251
</td><td >P21/n
</td></tr><tr ><td >FILVAA02
</td><td >True
</td><td >0.554
</td><td >TE'
</td><td >-55.02269535400968
</td><td >178.83710758760648
</td><td >138.44514107004136
</td><td >P21/n
</td></tr><tr ><td >FILVAA02
</td><td >True
</td><td >0.446
</td><td >TG
</td><td >-55.02269535400968
</td><td >-171.85155169713283
</td><td >-79.83688506815938
</td><td >P21/n
</td></tr><tr ><td >FILVAA02
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >61.23078434535036
</td><td >-176.10535200719903
</td><td >169.3792670066975
</td><td >P21/n
</td></tr><tr ><td >FINCEM
</td><td >False
</td><td >1.0
</td><td >pl-TG
</td><td >-0.037089044942697075
</td><td >-177.77221786475198
</td><td >-66.15549064354967
</td><td >P21/c
</td></tr><tr ><td >FIYPUZ
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-99.47858887682143
</td><td >177.36765888151047
</td><td >177.5907352650952
</td><td >P-1
</td></tr><tr ><td >FIYPUZ
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >101.01915177737
</td><td >-179.5989717550778
</td><td >-178.3469812353759
</td><td >P-1
</td></tr><tr ><td >FIZZEW
</td><td >True
</td><td >0.55
</td><td >TT
</td><td >75.60354195052425
</td><td >-171.47202396698313
</td><td >-166.9780478567655
</td><td >P21/n
</td></tr><tr ><td >FIZZIA
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >89.3081408782762
</td><td >66.63084616393039
</td><td >178.4655913027571
</td><td >P-1
</td></tr><tr ><td >FIZZIA
</td><td >True
</td><td >0.75
</td><td >G'T
</td><td >113.65877236682277
</td><td >-65.6385651650331
</td><td >178.92939721798462
</td><td >P-1
</td></tr><tr ><td >FIZZIA
</td><td >True
</td><td >0.25
</td><td >GT
</td><td >113.65877236682277
</td><td >80.7131789026237
</td><td >175.31955988266847
</td><td >P-1
</td></tr><tr ><td >FIZZOG
</td><td >True
</td><td >0.75
</td><td >G'T
</td><td >-111.72691320862593
</td><td >62.06364315008018
</td><td >175.00095378406533
</td><td >P212121
</td></tr><tr ><td >FIZZOG
</td><td >True
</td><td >0.25
</td><td >GT
</td><td >-111.72691320862593
</td><td >-62.55292073781407
</td><td >176.8963714965624
</td><td >P212121
</td></tr><tr ><td >FIZZOG
</td><td >True
</td><td >0.55
</td><td >G'T
</td><td >114.54370813024796
</td><td >-70.47670993300967
</td><td >-174.62806194474618
</td><td >P212121
</td></tr><tr ><td >FIZZOG
</td><td >True
</td><td >0.45
</td><td >GT
</td><td >114.54370813024796
</td><td >50.23960891621562
</td><td >176.14171517194174
</td><td >P212121
</td></tr><tr ><td >FOFJAM
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-123.60755680322616
</td><td >171.36505252474913
</td><td >174.09485624681065
</td><td >Cc
</td></tr><tr ><td >FOYSIW
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >47.04659607777313
</td><td >-179.8719746462198
</td><td >164.98428294927606
</td><td >C2/c
</td></tr><tr ><td >FOYSIW
</td><td >True
</td><td >1.0
</td><td >TG
</td><td >47.04659607777313
</td><td >-167.20427486507631
</td><td >86.4109632270921
</td><td >C2/c
</td></tr><tr ><td >FUSXUN
</td><td >True
</td><td >0.78
</td><td >pl-TG
</td><td >-18.4207057058737
</td><td >-173.69831359085552
</td><td >-71.58096534652124
</td><td >P21/c
</td></tr><tr ><td >FUSXUN
</td><td >True
</td><td >0.211
</td><td >pl-TT
</td><td >-18.4207057058737
</td><td >170.34122864716204
</td><td >-171.82267270739496
</td><td >P21/c
</td></tr><tr ><td >FUTLAI
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >102.77284467600111
</td><td >168.09099560645637
</td><td >177.0981110023565
</td><td >Pbca
</td></tr><tr ><td >FUTLAI
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >98.64532190867374
</td><td >176.9522010755128
</td><td >-177.09437189225747
</td><td >Pbca
</td></tr><tr ><td >FUTZEB
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >78.68827765718528
</td><td >-174.27535732173817
</td><td >175.06076068230377
</td><td >P21/n
</td></tr><tr ><td >GIDNAL
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-114.87595762742416
</td><td >59.809714352950934
</td><td >174.22015935235794
</td><td >P212121
</td></tr><tr ><td >GIDNAL
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >117.68550320353965
</td><td >-76.61736010163122
</td><td >171.3581472480141
</td><td >P212121
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.65
</td><td >TT
</td><td >60.71938898913825
</td><td >-176.86710402721982
</td><td >168.378163904229
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.35
</td><td >TT
</td><td >60.71938898913825
</td><td >-178.52251720877356
</td><td >-170.72267226719228
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-91.78080625663956
</td><td >174.95905473859116
</td><td >-165.70070988969067
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.827
</td><td >TT
</td><td >-91.64992263526713
</td><td >175.25661392324852
</td><td >-166.734182850934
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.173
</td><td >TE'
</td><td >-91.64992263526713
</td><td >177.37168659690437
</td><td >93.95330044200244
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.691
</td><td >GT
</td><td >62.83929097854748
</td><td >67.39658989804836
</td><td >162.30123142850465
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.309
</td><td >GE
</td><td >62.83929097854748
</td><td >85.83149375343632
</td><td >131.08690346281801
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.547
</td><td >TT
</td><td >-93.03950220534516
</td><td >172.45332119908846
</td><td >167.83961056595098
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.453
</td><td >TG
</td><td >-93.03950220534516
</td><td >-176.58881961402216
</td><td >-71.91460777855858
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.65
</td><td >TT
</td><td >47.738049857495795
</td><td >177.59562752268076
</td><td >172.67368037837429
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.35
</td><td >TT
</td><td >47.738049857495795
</td><td >179.76916289859932
</td><td >-164.49756804626801
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >85.04426413151053
</td><td >-178.73603990590487
</td><td >175.2483778774314
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.557
</td><td >GT
</td><td >45.3659386563376
</td><td >63.404374125497554
</td><td >151.7629866388302
</td><td >P21
</td></tr><tr ><td >GIDNAL01
</td><td >True
</td><td >0.443
</td><td >TT
</td><td >45.3659386563376
</td><td >-159.7227842580162
</td><td >-177.6670846695514
</td><td >P21
</td></tr><tr ><td >GIWRUB
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >106.72674783538044
</td><td >-176.4576565067401
</td><td >-179.97886452186887
</td><td >P21/c
</td></tr><tr ><td >GOXGUX
</td><td >False
</td><td >1.0
</td><td >TE'
</td><td >-142.85271610900713
</td><td >155.8056164210205
</td><td >143.90921912047784
</td><td >P-1
</td></tr><tr ><td >GOXGUX
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-111.93799352997787
</td><td >62.66719888170536
</td><td >-166.68453236380367
</td><td >P-1
</td></tr><tr ><td >GOXHAE
</td><td >False
</td><td >1.0
</td><td >TE
</td><td >110.92278466073131
</td><td >177.30408818085428
</td><td >104.28261535684886
</td><td >P21/c
</td></tr><tr ><td >GOXHAE
</td><td >False
</td><td >1.0
</td><td >TG'
</td><td >82.84264568757705
</td><td >-168.67906819682983
</td><td >-46.07394332882207
</td><td >P21/c
</td></tr><tr ><td >GOXHAE
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >125.44670242200804
</td><td >176.52684428969164
</td><td >-166.6959306600682
</td><td >P21/c
</td></tr><tr ><td >GOXHEI
</td><td >True
</td><td >0.534
</td><td >TT
</td><td >109.88134189572298
</td><td >178.32181146279422
</td><td >162.60405580082482
</td><td >P-1
</td></tr><tr ><td >GOXHEI
</td><td >True
</td><td >0.466
</td><td >TG'
</td><td >109.88134189572298
</td><td >-171.7086646769426
</td><td >-64.7833588690708
</td><td >P-1
</td></tr><tr ><td >GOXHEI01
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >80.85181719806403
</td><td >171.2569645170005
</td><td >56.26492300387236
</td><td >P-1
</td></tr><tr ><td >GOXHEI02
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >96.19051682644205
</td><td >-173.55443095578428
</td><td >160.59806165486725
</td><td >P21/n
</td></tr><tr ><td >GOXHEI03
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >100.02763475637182
</td><td >-173.02543542833877
</td><td >166.46175888551983
</td><td >P21/n
</td></tr><tr ><td >GOXHEI04
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-96.88809367784184
</td><td >173.9393463648093
</td><td >-160.4887591226955
</td><td >P21/c
</td></tr><tr ><td >HAFLOR
</td><td >True
</td><td >0.516
</td><td >TG'
</td><td >-100.4076684108735
</td><td >165.49923801695502
</td><td >79.85092055075326
</td><td >P21/n
</td></tr><tr ><td >HAFLOR
</td><td >True
</td><td >0.484
</td><td >TT
</td><td >-100.4076684108735
</td><td >-170.92522014924845
</td><td >170.54901867530143
</td><td >P21/n
</td></tr><tr ><td >HAFLUX
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >66.4309780914749
</td><td >178.6724355879417
</td><td >62.95876090856043
</td><td >P21/n
</td></tr><tr ><td >HAFLUX
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >75.91529618649201
</td><td >175.8305531373367
</td><td >64.75901689669172
</td><td >P21/n
</td></tr><tr ><td >HAFLUX
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-60.819477783063924
</td><td >-176.11543327846445
</td><td >-57.99701324928927
</td><td >P21/n
</td></tr><tr ><td >HAFLUX
</td><td >False
</td><td >1.0
</td><td >pl-TT
</td><td >14.064527733092314
</td><td >-179.20932066101489
</td><td >-155.5947300787278
</td><td >P21/n
</td></tr><tr ><td >HATRAX
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >102.34421482695132
</td><td >-179.919972340107
</td><td >-179.50603968839727
</td><td >Cc
</td></tr><tr ><td >HATRIF
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >103.3998884293713
</td><td >176.65616116781922
</td><td >56.12925892202727
</td><td >Cc
</td></tr><tr ><td >HIDGEI
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >86.48992358044889
</td><td >176.2716225549755
</td><td >167.78617607037557
</td><td >Pbcn
</td></tr><tr ><td >HOGGOA
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >82.27202637284813
</td><td >-177.20461827734883
</td><td >171.00072317754967
</td><td >P-1
</td></tr><tr ><td >HOYMIU
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-83.55782306494352
</td><td >-57.92859394525456
</td><td >-171.51485481681001
</td><td >P21/c
</td></tr><tr ><td >IDAZUK
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-72.86895389423604
</td><td >-62.546663187715716
</td><td >-178.6046332839646
</td><td >P21/c
</td></tr><tr ><td >IGUPUW
</td><td >True
</td><td >0.7
</td><td >G'T
</td><td >115.79249430656101
</td><td >-63.98138637228413
</td><td >175.5392826752683
</td><td >P21/n
</td></tr><tr ><td >IGUPUW
</td><td >True
</td><td >0.3
</td><td >GT
</td><td >115.79249430656101
</td><td >61.875227334416486
</td><td >172.31658848062287
</td><td >P21/n
</td></tr><tr ><td >IGUPUW
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-110.29312831201003
</td><td >62.45238320847427
</td><td >-178.52883170190475
</td><td >P21/n
</td></tr><tr ><td >IKAQUG
</td><td >True
</td><td >0.73
</td><td >GG
</td><td >75.16289043570804
</td><td >63.47729444381488
</td><td >70.15574702377343
</td><td >P21/c
</td></tr><tr ><td >IKAQUG
</td><td >True
</td><td >0.27
</td><td >GT
</td><td >75.16289043570804
</td><td >62.72174106956188
</td><td >173.9274306217318
</td><td >P21/c
</td></tr><tr ><td >IKARAN
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >113.43510158104407
</td><td >-57.96842915068634
</td><td >-177.07310335959286
</td><td >P21/c
</td></tr><tr ><td >IKARER
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >94.644982370476
</td><td >-176.6960364828855
</td><td >173.4736403694645
</td><td >P41
</td></tr><tr ><td >IKARIV
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-111.92920330923744
</td><td >177.60702330504975
</td><td >-176.90621927765193
</td><td >Pbcn
</td></tr><tr ><td >IVAPAY
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-105.91896760441867
</td><td >-68.0496715154147
</td><td >-170.179769373242
</td><td >P21/c
</td></tr><tr ><td >IVAPAY
</td><td >False
</td><td >1.0
</td><td >TG'
</td><td >-95.81478712584835
</td><td >-174.8241547510206
</td><td >65.50599261956853
</td><td >P21/c
</td></tr><tr ><td >IVAPAY
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >114.9193919950529
</td><td >-61.32036186866316
</td><td >174.68958414824058
</td><td >P21/c
</td></tr><tr ><td >IXITIU02
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >106.24958446700312
</td><td >-173.6395908849703
</td><td >67.91364457198158
</td><td >C2/c
</td></tr><tr ><td >JANZOQ
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >102.63604066913334
</td><td >177.70442009645856
</td><td >173.97917673902936
</td><td >P21
</td></tr><tr ><td >JANZOQ
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-94.24393913562918
</td><td >60.56245731828682
</td><td >179.77642486544917
</td><td >P21
</td></tr><tr ><td >JANZUW
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-77.02654845154902
</td><td >-66.90520315686216
</td><td >-174.8279824972333
</td><td >P21/n
</td></tr><tr ><td >JITPIM
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >79.33738227090441
</td><td >172.91140561854144
</td><td >58.108627133263155
</td><td >C2/c
</td></tr><tr ><td >JOHGUJ
</td><td >False
</td><td >1.0
</td><td >ST
</td><td >-122.11208261129295
</td><td >18.56996786348502
</td><td >177.4961226999286
</td><td >Pccn
</td></tr><tr ><td >JOQPUC
</td><td >False
</td><td >1.0
</td><td >G'E
</td><td >-105.5306666555893
</td><td >58.62002944865775
</td><td >-93.8507929724928
</td><td >P21/n
</td></tr><tr ><td >JUJFAY
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >122.02448940308068
</td><td >175.31481238638014
</td><td >177.23900486689686
</td><td >P-1
</td></tr><tr ><td >JUJFAY
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >143.12238578933915
</td><td >173.66360237196426
</td><td >179.01024703139666
</td><td >P-1
</td></tr><tr ><td >JUJFAY
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >46.991552881012865
</td><td >173.38505651718873
</td><td >-171.53242193869158
</td><td >P-1
</td></tr><tr ><td >KABMAE
</td><td >False
</td><td >1.0
</td><td >pl-TT
</td><td >-21.01914208936434
</td><td >-174.7578329073333
</td><td >177.5280825365355
</td><td >P-1
</td></tr><tr ><td >KAFKAG
</td><td >True
</td><td >0.501
</td><td >TT
</td><td >101.46888906579726
</td><td >173.850060971545
</td><td >175.5376336162405
</td><td >P21
</td></tr><tr ><td >KAFKAG
</td><td >True
</td><td >0.499
</td><td >TG'
</td><td >101.46888906579726
</td><td >-166.64363903518566
</td><td >-70.75882591548334
</td><td >P21
</td></tr><tr ><td >KAFKAG
</td><td >True
</td><td >1.0
</td><td >TG
</td><td >108.84624986362502
</td><td >-172.88928071247815
</td><td >67.39312672529756
</td><td >P21
</td></tr><tr ><td >KAFKAG
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >87.18846462888925
</td><td >178.13831335223068
</td><td >177.42442423426505
</td><td >P21
</td></tr><tr ><td >KAFKAG
</td><td >True
</td><td >0.642
</td><td >TT
</td><td >90.73577158068173
</td><td >177.13119017304325
</td><td >179.88236326247468
</td><td >P21
</td></tr><tr ><td >KAFKAG
</td><td >True
</td><td >0.358
</td><td >TG
</td><td >90.73577158068173
</td><td >166.04093085755252
</td><td >82.28765581396247
</td><td >P21
</td></tr><tr ><td >KAFKAG01
</td><td >True
</td><td >0.53
</td><td >TG
</td><td >106.8317464555121
</td><td >-171.6543446805656
</td><td >78.03389571010217
</td><td >C2
</td></tr><tr ><td >KAFKAG01
</td><td >True
</td><td >0.47
</td><td >TT
</td><td >106.8317464555121
</td><td >177.66903222500284
</td><td >-170.4882003168143
</td><td >C2
</td></tr><tr ><td >KAFKAG01
</td><td >True
</td><td >0.652
</td><td >TT
</td><td >102.22342883421943
</td><td >179.1435869123927
</td><td >172.34263828151117
</td><td >C2
</td></tr><tr ><td >KAFKAG01
</td><td >True
</td><td >0.348
</td><td >TG'
</td><td >102.22342883421943
</td><td >-176.27894322756126
</td><td >-51.02816882907592
</td><td >C2
</td></tr><tr ><td >KAFKAG02
</td><td >True
</td><td >0.62
</td><td >TT
</td><td >91.9582660576661
</td><td >177.00581722186757
</td><td >-164.3121071233011
</td><td >C2
</td></tr><tr ><td >KAFKAG02
</td><td >True
</td><td >0.38
</td><td >TG
</td><td >91.9582660576661
</td><td >178.15514131806094
</td><td >69.48626914451003
</td><td >C2
</td></tr><tr ><td >KELFOY
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-97.66211254258357
</td><td >-177.78837411141967
</td><td >-175.8321925942079
</td><td >P-1
</td></tr><tr ><td >KETMAY
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >79.32114926938938
</td><td >65.23928306119394
</td><td >178.92739250166812
</td><td >P212121
</td></tr><tr ><td >KISLUU
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-79.6534741030758
</td><td >-178.09395662710597
</td><td >-66.41085172178146
</td><td >Cc
</td></tr><tr ><td >KISLUU
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-102.26445749600104
</td><td >-177.13860407644364
</td><td >-66.8229414327935
</td><td >Cc
</td></tr><tr ><td >KISLUU01
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >103.13883064536056
</td><td >177.83259713913236
</td><td >66.32976657282211
</td><td >Cc
</td></tr><tr ><td >KISLUU01
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >78.94409143087242
</td><td >177.70769403173946
</td><td >66.02870781746358
</td><td >Cc
</td></tr><tr ><td >KISMAB
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-106.67595959892616
</td><td >176.7242240763754
</td><td >-177.0488138273218
</td><td >Cc
</td></tr><tr ><td >KISMAB
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >107.26230902796216
</td><td >-174.37314023991956
</td><td >-178.43280153642849
</td><td >Cc
</td></tr><tr ><td >KISMEF
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >77.19320471460645
</td><td >174.82901268808482
</td><td >72.09135993465475
</td><td >Cc
</td></tr><tr ><td >KISMEF
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >105.82181535074079
</td><td >178.14003667130424
</td><td >60.738940710397216
</td><td >Cc
</td></tr><tr ><td >KISMEF01
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-82.94615281043372
</td><td >-176.32181872432295
</td><td >-66.75282420488901
</td><td >Cc
</td></tr><tr ><td >KISMEF01
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-107.21653468143359
</td><td >-178.46154496411992
</td><td >-60.2403849780647
</td><td >Cc
</td></tr><tr ><td >KISMIJ
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >104.83693718446342
</td><td >178.27254507979788
</td><td >62.84999473643826
</td><td >Cc
</td></tr><tr ><td >KISMIJ
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >74.38728841076413
</td><td >173.7359363600048
</td><td >74.7118366839445
</td><td >Cc
</td></tr><tr ><td >KISMOP
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-80.1750826209609
</td><td >-177.4998459097709
</td><td >-70.51566849401476
</td><td >Cc
</td></tr><tr ><td >KISMOP
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-104.65810069685831
</td><td >-178.74514159633156
</td><td >-62.097656561981516
</td><td >Cc
</td></tr><tr ><td >KISMOP01
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >106.94128339644695
</td><td >178.17251865205012
</td><td >60.69928056092286
</td><td >Cc
</td></tr><tr ><td >KISMOP01
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-83.49214542227392
</td><td >-175.92208991491776
</td><td >-66.65740819126073
</td><td >Cc
</td></tr><tr ><td >KISMUV
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-79.53651435962122
</td><td >-177.69094385640778
</td><td >-63.862447326418255
</td><td >Cc
</td></tr><tr ><td >KISMUV
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-100.69565526896795
</td><td >179.65884445243236
</td><td >-64.54039229551478
</td><td >Cc
</td></tr><tr ><td >KISNAC
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-104.3021746795785
</td><td >40.44811485091503
</td><td >-178.83749717180876
</td><td >P21
</td></tr><tr ><td >KISNAC
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-103.40556488215441
</td><td >37.663553257751985
</td><td >179.7453483005162
</td><td >P21
</td></tr><tr ><td >KISNAC
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >105.39533359812282
</td><td >-38.668637006050794
</td><td >-177.30384477810662
</td><td >P21
</td></tr><tr ><td >KISNAC
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >105.61855913068766
</td><td >-40.56492461705764
</td><td >-176.25607838870283
</td><td >P21
</td></tr><tr ><td >KISNEG
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-92.94531567701533
</td><td >174.58671358149743
</td><td >-68.35765064758219
</td><td >P21/n
</td></tr><tr ><td >KISNIK
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-99.65942659176655
</td><td >176.165479982759
</td><td >-80.2812551928303
</td><td >P21/a
</td></tr><tr ><td >KISNIK
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-68.31052225452565
</td><td >-67.11675756778943
</td><td >176.08302947725014
</td><td >P21/a
</td></tr><tr ><td >KIXNIP
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-92.28639955251786
</td><td >-62.359349191462655
</td><td >-174.86342719546465
</td><td >P21
</td></tr><tr ><td >KOGPEC
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >98.58899705770571
</td><td >-58.817417874743114
</td><td >-163.38909664777216
</td><td >P-1
</td></tr><tr ><td >KOGPEC
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >81.37204071125993
</td><td >176.83443465291552
</td><td >73.43882043715722
</td><td >P-1
</td></tr><tr ><td >KUHPEJ
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >111.2321430474092
</td><td >-63.7216792123052
</td><td >-177.1037776607373
</td><td >P21/c
</td></tr><tr ><td >LAMSUP
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >80.06818737415696
</td><td >179.99950268436285
</td><td >-176.51900005410212
</td><td >P-1
</td></tr><tr ><td >LAMVOL
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-84.36538642887837
</td><td >62.284475441226306
</td><td >178.19796512767883
</td><td >P-1
</td></tr><tr ><td >LAMVUR
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-85.85777736286877
</td><td >62.763346461874605
</td><td >177.56483866081874
</td><td >P-1
</td></tr><tr ><td >LAZRUA
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-105.72823105632025
</td><td >66.14390143517538
</td><td >179.72114401924307
</td><td >P21/n
</td></tr><tr ><td >LAZRUA
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >102.09882641618825
</td><td >-67.79044570507065
</td><td >178.18309724693802
</td><td >P21/n
</td></tr><tr ><td >LOBCUD
</td><td >False
</td><td >1.0
</td><td >G'G'
</td><td >122.73497560367122
</td><td >-47.91345087732114
</td><td >-67.4179870171448
</td><td >P21/n
</td></tr><tr ><td >MAZXOB
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >103.76801269434391
</td><td >-60.802923850703436
</td><td >-178.05407966891406
</td><td >P-1
</td></tr><tr ><td >MAZXOB01
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >103.91675375030255
</td><td >-60.827291416270825
</td><td >-177.9519355241071
</td><td >P-1
</td></tr><tr ><td >MAZXOB02
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-81.19425055224794
</td><td >-63.63919791681232
</td><td >-176.76546857315392
</td><td >Pbca
</td></tr><tr ><td >MAZXOB03
</td><td >True
</td><td >0.75
</td><td >GT
</td><td >-80.88292674191426
</td><td >-63.47300201299193
</td><td >-176.17612901413813
</td><td >Pbca
</td></tr><tr ><td >MAZXOB03
</td><td >True
</td><td >0.25
</td><td >G'T
</td><td >-80.88292674191426
</td><td >54.051546546887174
</td><td >175.95948650168958
</td><td >Pbca
</td></tr><tr ><td >MAZXOB04
</td><td >True
</td><td >0.68
</td><td >TG'
</td><td >92.3048937058114
</td><td >179.76017848124604
</td><td >-64.34013043297723
</td><td >P-1
</td></tr><tr ><td >MAZXOB04
</td><td >True
</td><td >0.32
</td><td >TE'
</td><td >92.3048937058114
</td><td >179.76017848124604
</td><td >-103.91616907096068
</td><td >P-1
</td></tr><tr ><td >MAZXOB04
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >105.15841723759274
</td><td >167.50311067638467
</td><td >179.9621082168948
</td><td >P-1
</td></tr><tr ><td >MAZXOB05
</td><td >True
</td><td >0.7
</td><td >TT
</td><td >102.62176423242165
</td><td >167.61564184633022
</td><td >165.7751639342367
</td><td >P-1
</td></tr><tr ><td >MAZXOB05
</td><td >True
</td><td >0.3
</td><td >TE'
</td><td >102.62176423242165
</td><td >-163.42979981768275
</td><td >-135.40086841991632
</td><td >P-1
</td></tr><tr ><td >MAZXOB05
</td><td >True
</td><td >0.7
</td><td >TT
</td><td >106.5355546623587
</td><td >168.33349388763793
</td><td >-178.4163894797391
</td><td >P-1
</td></tr><tr ><td >MAZXOB05
</td><td >True
</td><td >0.3
</td><td >TE'
</td><td >106.5355546623587
</td><td >168.33349388763793
</td><td >-121.56704147825566
</td><td >P-1
</td></tr><tr ><td >MAZXOB06
</td><td >True
</td><td >0.921
</td><td >G'T
</td><td >103.4873094258714
</td><td >-60.348559839996895
</td><td >-176.40844717886029
</td><td >P-1
</td></tr><tr ><td >MAZXOB06
</td><td >True
</td><td >0.079
</td><td >GT
</td><td >103.4873094258714
</td><td >55.46350293825409
</td><td >173.14904402639144
</td><td >P-1
</td></tr><tr ><td >MENLOH
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-73.31779526141162
</td><td >-179.68841378146794
</td><td >-176.88876098991386
</td><td >Pna21
</td></tr><tr ><td >MENLOH
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >99.90179104396906
</td><td >-177.0232854085198
</td><td >68.24681415789465
</td><td >Pna21
</td></tr><tr ><td >MENLOH01
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-92.10292517028662
</td><td >176.48497293320906
</td><td >-70.12233526677446
</td><td >P21/n
</td></tr><tr ><td >MIKYEL
</td><td >True
</td><td >0.6
</td><td >G'T
</td><td >119.01620466637229
</td><td >-64.39531992345236
</td><td >-177.5438018936931
</td><td >P-1
</td></tr><tr ><td >MIKYEL
</td><td >True
</td><td >0.4
</td><td >GT
</td><td >119.01620466637229
</td><td >63.56947587119559
</td><td >172.35189778209568
</td><td >P-1
</td></tr><tr ><td >MIKYEL
</td><td >True
</td><td >1.0
</td><td >TG
</td><td >137.11138778957212
</td><td >176.99164506881434
</td><td >70.02182327182156
</td><td >P-1
</td></tr><tr ><td >MIQLEE
</td><td >True
</td><td >1.0
</td><td >EG'
</td><td >115.33417351323155
</td><td >138.66373951180572
</td><td >-75.53097700706029
</td><td >P21/c
</td></tr><tr ><td >MOWQEW
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >114.46657509392938
</td><td >172.0599145028925
</td><td >68.1295707375052
</td><td >P21/n
</td></tr><tr ><td >MOXNIY
</td><td >True
</td><td >0.5
</td><td >TT
</td><td >-99.61687897067631
</td><td >175.9059318322053
</td><td >167.98369922898144
</td><td >P212121
</td></tr><tr ><td >MOXNIY
</td><td >True
</td><td >0.5
</td><td >TG'
</td><td >-99.61687897067631
</td><td >170.75536418546872
</td><td >77.53883149177504
</td><td >P212121
</td></tr><tr ><td >MUXRIH
</td><td >True
</td><td >0.5
</td><td >G'T
</td><td >126.41747894053478
</td><td >-57.31964392712359
</td><td >-174.84990882079077
</td><td >P21/c
</td></tr><tr ><td >MUXRIH
</td><td >True
</td><td >0.5
</td><td >E'E
</td><td >126.41747894053478
</td><td >-115.96269012981446
</td><td >109.16884659697801
</td><td >P21/c
</td></tr><tr ><td >NAZHUS
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-108.59941927525485
</td><td >62.279670091271726
</td><td >176.74200869560266
</td><td >P212121
</td></tr><tr ><td >NAZHUS01
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >108.6984636839778
</td><td >-61.85924977073312
</td><td >-177.27825044823194
</td><td >P212121
</td></tr><tr ><td >NIYXEZ
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >95.84363114415639
</td><td >-179.51027337659633
</td><td >179.6802074220811
</td><td >C2/c
</td></tr><tr ><td >NIYXEZ
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-98.24445136652142
</td><td >-174.2695660874192
</td><td >-66.5120443852752
</td><td >C2/c
</td></tr><tr ><td >NODKOH
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-66.40377404729674
</td><td >86.47179900263464
</td><td >174.8566658412469
</td><td >P43212
</td></tr><tr ><td >NUKBOM
</td><td >True
</td><td >0.5
</td><td >TE
</td><td >138.92709562824288
</td><td >151.29353820475208
</td><td >123.35868529544106
</td><td >P21/n
</td></tr><tr ><td >NUNNUH
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-100.14176561002668
</td><td >178.24178991439675
</td><td >176.0711123978373
</td><td >P41212
</td></tr><tr ><td >NUNPAP
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >100.01931966812381
</td><td >-178.41858122048
</td><td >-176.2955812369894
</td><td >P43212
</td></tr><tr ><td >ODOQAB
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >84.83121782025277
</td><td >66.01138059936741
</td><td >174.86231573796468
</td><td >P21/n
</td></tr><tr ><td >OJUZOK
</td><td >True
</td><td >0.67
</td><td >TT
</td><td >-101.7593993264011
</td><td >172.96361042042798
</td><td >179.90738993299178
</td><td >P21/c
</td></tr><tr ><td >OJUZOK
</td><td >True
</td><td >0.33
</td><td >TG
</td><td >-101.7593993264011
</td><td >-176.3478547131345
</td><td >-67.87163913280394
</td><td >P21/c
</td></tr><tr ><td >OJUZOK
</td><td >True
</td><td >0.519
</td><td >G'T
</td><td >-104.2740278739649
</td><td >52.597768029918406
</td><td >176.16172242530303
</td><td >P21/c
</td></tr><tr ><td >OJUZOK
</td><td >True
</td><td >0.481
</td><td >GT
</td><td >-104.2740278739649
</td><td >-56.04388677020321
</td><td >-179.958789293708
</td><td >P21/c
</td></tr><tr ><td >OJUZOK
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >91.55242422794356
</td><td >179.51511980402987
</td><td >170.09480149312267
</td><td >P21/c
</td></tr><tr ><td >OJUZUQ
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-88.43520966140505
</td><td >67.25717445564484
</td><td >175.6717525021052
</td><td >P-1
</td></tr><tr ><td >OROKEN
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-112.82772669464975
</td><td >51.218082606151796
</td><td >168.3088426551323
</td><td >P21/n
</td></tr><tr ><td >OZOSOM
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-112.81395651160769
</td><td >68.61468018255798
</td><td >176.58220606302788
</td><td >P21/c
</td></tr><tr ><td >OZOSOM01
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >82.82224713402626
</td><td >175.11377288637433
</td><td >-175.4584428370773
</td><td >P21/c
</td></tr><tr ><td >PAMSUT
</td><td >False
</td><td >1.0
</td><td >GG
</td><td >72.9491135683172
</td><td >68.42380837656881
</td><td >68.65140362075238
</td><td >P-1
</td></tr><tr ><td >PECJAL
</td><td >False
</td><td >1.0
</td><td >ST
</td><td >113.6638623217474
</td><td >-22.779095384718918
</td><td >-175.16989826540302
</td><td >P21/c
</td></tr><tr ><td >PECJEP
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-116.35258565628652
</td><td >31.83675350937133
</td><td >172.05682060565167
</td><td >P21/c
</td></tr><tr ><td >PECKEQ
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >74.33967019651146
</td><td >-176.7906889945543
</td><td >173.47224954197785
</td><td >P-1
</td></tr><tr ><td >PECKEQ
</td><td >True
</td><td >1.0
</td><td >E'G
</td><td >-114.98063470195896
</td><td >148.02107388016324
</td><td >-30.70972412506567
</td><td >P-1
</td></tr><tr ><td >PEJCIR
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >126.46427972063356
</td><td >-66.36779694128636
</td><td >-173.2099444376472
</td><td >P21/c
</td></tr><tr ><td >PENREH
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-96.93532113548912
</td><td >67.49132861078255
</td><td >-177.44391934164142
</td><td >P21/c
</td></tr><tr ><td >PIKCEU
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-98.2177123463038
</td><td >-167.63640599179087
</td><td >178.39516410819647
</td><td >P21/n
</td></tr><tr ><td >PIKCEU
</td><td >False
</td><td >1.0
</td><td >G'G'
</td><td >124.74503833532307
</td><td >-65.92528548658011
</td><td >-65.32633544616226
</td><td >P21/n
</td></tr><tr ><td >PUGZUM
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-93.76847974058474
</td><td >176.8804897487683
</td><td >-68.22918996102553
</td><td >P21/n
</td></tr><tr ><td >PURKET
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-66.85660575764118
</td><td >-168.4536271678439
</td><td >177.75534188113951
</td><td >P-1
</td></tr><tr ><td >PURKET
</td><td >True
</td><td >0.673
</td><td >TG'
</td><td >-78.54223205786441
</td><td >173.76728499715574
</td><td >61.37766883644553
</td><td >P-1
</td></tr><tr ><td >PURKET
</td><td >True
</td><td >0.327
</td><td >TG
</td><td >-78.54223205786441
</td><td >-163.96412980353207
</td><td >-59.05133871512879
</td><td >P-1
</td></tr><tr ><td >PURKIX
</td><td >True
</td><td >0.69
</td><td >TG'
</td><td >-86.32054673632028
</td><td >176.86659912584514
</td><td >65.00296866250439
</td><td >P-1
</td></tr><tr ><td >PURKIX
</td><td >True
</td><td >0.31
</td><td >TG
</td><td >-86.32054673632028
</td><td >-170.6043999429651
</td><td >-58.61692997632041
</td><td >P-1
</td></tr><tr ><td >PURKIX
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-60.19186333165018
</td><td >-168.62339607980377
</td><td >178.0363998409101
</td><td >P-1
</td></tr><tr ><td >PURKUJ
</td><td >True
</td><td >1.0
</td><td >TG'
</td><td >-100.66471245282945
</td><td >174.4108927266338
</td><td >59.6848815637522
</td><td >P21/n
</td></tr><tr ><td >PURKUJ
</td><td >True
</td><td >0.54
</td><td >GT
</td><td >-72.06996284137887
</td><td >-59.82595835527469
</td><td >-178.45143712977267
</td><td >P21/n
</td></tr><tr ><td >PURKUJ
</td><td >True
</td><td >0.46
</td><td >G'T
</td><td >-72.06996284137887
</td><td >64.28510149624714
</td><td >-179.3551168391033
</td><td >P21/n
</td></tr><tr ><td >PURLAQ
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >109.24628234987796
</td><td >168.67671568426346
</td><td >176.14850274805406
</td><td >Pbca
</td></tr><tr ><td >PURLAQ
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >104.090601731387
</td><td >177.30079250302714
</td><td >175.00369869770313
</td><td >Pbca
</td></tr><tr ><td >QEKHAP
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >-50.20389509640772
</td><td >-62.94643477229379
</td><td >-178.38066159847895
</td><td >P-1
</td></tr><tr ><td >QEKHAP
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-50.20389509640772
</td><td >68.49738835899522
</td><td >-178.2313890198175
</td><td >P-1
</td></tr><tr ><td >QETDAV
</td><td >False
</td><td >1.0
</td><td >ST
</td><td >102.8697557518874
</td><td >1.4758829092883614
</td><td >-172.58103426261357
</td><td >P21/c
</td></tr><tr ><td >QITXIB
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >100.54576863197444
</td><td >177.51628325947874
</td><td >-171.03173690626667
</td><td >P21/n
</td></tr><tr ><td >QOFNIK
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-132.17120610295984
</td><td >-167.25108952104313
</td><td >-166.80505649527254
</td><td >Pnma
</td></tr><tr ><td >QOMSUI
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-70.73957567486843
</td><td >-59.641574326036405
</td><td >179.6686409652071
</td><td >C2/c
</td></tr><tr ><td >QOMSUI
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >123.92298598891544
</td><td >-59.363032193696164
</td><td >-172.85402992927175
</td><td >C2/c
</td></tr><tr ><td >QUGVUL
</td><td >False
</td><td >1.0
</td><td >SG
</td><td >60.1470084866089
</td><td >7.095718999844666
</td><td >56.355888529155415
</td><td >P21/n
</td></tr><tr ><td >QUGWOG
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >67.7879868017288
</td><td >54.9425117124483
</td><td >-176.78277245986519
</td><td >P21/c
</td></tr><tr ><td >RALXOT
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >66.69350116770791
</td><td >171.21688391227093
</td><td >175.07659604472425
</td><td >P-1
</td></tr><tr ><td >RAWQOY
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >88.25900967670954
</td><td >68.96176144958521
</td><td >175.51451244184054
</td><td >P-1
</td></tr><tr ><td >RISWUO
</td><td >False
</td><td >1.0
</td><td >TG'
</td><td >69.93486968436055
</td><td >-169.45990664306225
</td><td >-59.57316569766731
</td><td >P-1
</td></tr><tr ><td >RISWUO
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >119.56839590845337
</td><td >-173.97078750634137
</td><td >-173.67113197083745
</td><td >P-1
</td></tr><tr ><td >RISWUO
</td><td >False
</td><td >1.0
</td><td >pl-TT
</td><td >-0.9465672053985967
</td><td >175.85075935884157
</td><td >169.92086560582874
</td><td >P-1
</td></tr><tr ><td >RISWUO
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >134.21401249944537
</td><td >173.60758112414652
</td><td >63.47492627305327
</td><td >P-1
</td></tr><tr ><td >RISWUO
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >105.39006516544723
</td><td >-173.90105798767024
</td><td >-178.5965175616268
</td><td >P-1
</td></tr><tr ><td >RISWUO
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-108.31332667731726
</td><td >175.18515970158177
</td><td >-179.8938012382288
</td><td >P-1
</td></tr><tr ><td >RUBHAY
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-73.03698128746161
</td><td >-178.75565169484435
</td><td >-172.32056147622583
</td><td >Pca21
</td></tr><tr ><td >RUBHAY
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-71.55252037152425
</td><td >-178.712913358534
</td><td >-175.905389264968
</td><td >Pca21
</td></tr><tr ><td >RUBHAY
</td><td >False
</td><td >1.0
</td><td >TE'
</td><td >-127.71226255019045
</td><td >176.31720038486696
</td><td >135.42297090729826
</td><td >Pca21
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >0.768
</td><td >G'T
</td><td >140.4576146885397
</td><td >-57.62392696874104
</td><td >-177.29153952353252
</td><td >P-1
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >0.232
</td><td >GT
</td><td >140.4576146885397
</td><td >53.170725828770436
</td><td >167.06259573322978
</td><td >P-1
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >98.02767755880714
</td><td >-57.69293689725537
</td><td >-165.94081111966472
</td><td >P-1
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >0.695
</td><td >GT
</td><td >-72.59165931639026
</td><td >-61.624080927345545
</td><td >-170.79598271379666
</td><td >P-1
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >0.305
</td><td >TT
</td><td >-72.59165931639026
</td><td >174.94761149721532
</td><td >-163.9513147985205
</td><td >P-1
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >0.497
</td><td >SE
</td><td >-92.92058253619292
</td><td >-19.258275294603155
</td><td >-126.82904111208836
</td><td >P-1
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >0.656
</td><td >G'T
</td><td >123.90321110617829
</td><td >-83.95335718527367
</td><td >-175.80730918867243
</td><td >P-1
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >0.344
</td><td >TS
</td><td >123.90321110617829
</td><td >-171.8659601479117
</td><td >-11.931611324205162
</td><td >P-1
</td></tr><tr ><td >RUBHAY01
</td><td >True
</td><td >0.736
</td><td >pl-GT
</td><td >11.672390401562783
</td><td >73.96436660003613
</td><td >-178.10595811164143
</td><td >P-1
</td></tr><tr ><td >RUBHAY02
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >113.25911837612259
</td><td >-77.73373535480341
</td><td >-169.50667785007332
</td><td >P-1
</td></tr><tr ><td >RUBHAY02
</td><td >True
</td><td >1.0
</td><td >ST
</td><td >-112.06001056292835
</td><td >27.494258012177173
</td><td >-177.0554139220703
</td><td >P-1
</td></tr><tr ><td >RUBHAY02
</td><td >True
</td><td >1.0
</td><td >pl-GT
</td><td >-25.81280738483844
</td><td >-70.88037489118767
</td><td >173.20813755747335
</td><td >P-1
</td></tr><tr ><td >RUBHAY02
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >97.90567236252855
</td><td >-158.5831698908805
</td><td >172.06475785711956
</td><td >P-1
</td></tr><tr ><td >RUBHAY02
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-100.46509361154627
</td><td >60.34363009838742
</td><td >168.85934875674488
</td><td >P-1
</td></tr><tr ><td >RUBHAY02
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-135.63600511681292
</td><td >45.12953385755299
</td><td >168.59086603283663
</td><td >P-1
</td></tr><tr ><td >SAFLUH
</td><td >True
</td><td >0.599
</td><td >TT
</td><td >84.91247877608224
</td><td >-171.29403952884783
</td><td >163.17589605657938
</td><td >C2/c
</td></tr><tr ><td >SAFLUH
</td><td >True
</td><td >0.401
</td><td >G'T
</td><td >84.91247877608224
</td><td >-53.91929260619183
</td><td >171.3046776939291
</td><td >C2/c
</td></tr><tr ><td >SAFLUH
</td><td >True
</td><td >0.74
</td><td >TT
</td><td >86.16236202171942
</td><td >177.92428070105785
</td><td >-164.76270068853103
</td><td >C2/c
</td></tr><tr ><td >SAFLUH
</td><td >True
</td><td >0.26
</td><td >TE
</td><td >86.16236202171942
</td><td >177.92428070105785
</td><td >138.98402971101
</td><td >C2/c
</td></tr><tr ><td >SAFLUH
</td><td >True
</td><td >0.471
</td><td >GT
</td><td >75.6388284896502
</td><td >58.95179652259906
</td><td >176.8709750605335
</td><td >C2/c
</td></tr><tr ><td >SAFLUH
</td><td >True
</td><td >0.632
</td><td >TT
</td><td >-57.678315821152204
</td><td >174.18577737581467
</td><td >-170.53164130762573
</td><td >C2/c
</td></tr><tr ><td >SAFLUH
</td><td >True
</td><td >0.368
</td><td >TG
</td><td >-57.678315821152204
</td><td >-162.61698208651865
</td><td >-54.82702620146467
</td><td >C2/c
</td></tr><tr ><td >SEZGAH
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >98.8171753669148
</td><td >-169.78475919680076
</td><td >-179.4919063776536
</td><td >P-1
</td></tr><tr ><td >SEZGAH
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >98.8171753669148
</td><td >-62.94021637076219
</td><td >-173.60024901994643
</td><td >P-1
</td></tr><tr ><td >SEZGAH
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >51.86403070476164
</td><td >63.64424193138429
</td><td >173.71152949478795
</td><td >P-1
</td></tr><tr ><td >SEZGAH
</td><td >True
</td><td >1.0
</td><td >TG
</td><td >47.46511179131647
</td><td >175.99340547462054
</td><td >80.34873918434054
</td><td >P-1
</td></tr><tr ><td >SEZGAH
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-82.591572842786
</td><td >176.45756579586515
</td><td >-168.8792246226393
</td><td >P-1
</td></tr><tr ><td >SIJMIJ
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >94.67466909844728
</td><td >-65.46369581273207
</td><td >-177.25329882395258
</td><td >P21/n
</td></tr><tr ><td >SIJMIJ
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >119.59390513786035
</td><td >179.20418200036391
</td><td >-156.0519142360304
</td><td >P21/n
</td></tr><tr ><td >SIJMOP
</td><td >True
</td><td >0.694
</td><td >G'T
</td><td >-129.733050886419
</td><td >61.12687967279263
</td><td >168.50517820725176
</td><td >P-1
</td></tr><tr ><td >SIJMOP
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >177.58922472048403
</td><td >-176.50976127277386
</td><td >-172.09886308876213
</td><td >P-1
</td></tr><tr ><td >SIJMOP
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-167.7157977912584
</td><td >69.88239700012967
</td><td >177.71268528345922
</td><td >P-1
</td></tr><tr ><td >SIVCAD
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >100.89741408945861
</td><td >57.48341218642244
</td><td >-177.0584730554814
</td><td >P-1
</td></tr><tr ><td >SIVCAD
</td><td >False
</td><td >1.0
</td><td >G'E
</td><td >103.20035047013369
</td><td >-66.39818994000964
</td><td >104.41081809517955
</td><td >P-1
</td></tr><tr ><td >SIVCAD01
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-96.8630803569071
</td><td >-68.04443645594307
</td><td >174.72924825735961
</td><td >P-1
</td></tr><tr ><td >SIVCAD01
</td><td >False
</td><td >1.0
</td><td >G'E
</td><td >106.70572378641407
</td><td >-61.5230987703093
</td><td >94.10153097445105
</td><td >P-1
</td></tr><tr ><td >SIWSOH
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >113.54623661448396
</td><td >-45.106772263927844
</td><td >-178.22793345783302
</td><td >P21/c
</td></tr><tr ><td >SOBDUK
</td><td >False
</td><td >1.0
</td><td >G'G'
</td><td >-110.70174916438152
</td><td >57.91194162848383
</td><td >60.34665817654187
</td><td >P21/c
</td></tr><tr ><td >SOCZEQ
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >78.16824999013448
</td><td >57.96567784126558
</td><td >-167.79852025904287
</td><td >R-3
</td></tr><tr ><td >SONBEE
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >109.53863626654699
</td><td >-48.514253187184806
</td><td >-175.46734527299074
</td><td >P-1
</td></tr><tr ><td >SONBEE
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-127.60474438899504
</td><td >53.809040277025815
</td><td >168.715238566628
</td><td >P-1
</td></tr><tr ><td >SONBII
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >112.318921786196
</td><td >-52.34333859620302
</td><td >-176.0228388659291
</td><td >P-1
</td></tr><tr ><td >SONBII
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-127.3230753139671
</td><td >55.21074475784065
</td><td >168.44362708094948
</td><td >P-1
</td></tr><tr ><td >TACJEP
</td><td >False
</td><td >1.0
</td><td >GG'
</td><td >94.02779055355207
</td><td >57.265760838317874
</td><td >-70.00516040329022
</td><td >P21/n
</td></tr><tr ><td >TACKAM
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-65.48690435543986
</td><td >-62.230083438872725
</td><td >168.29084569465275
</td><td >P21/c
</td></tr><tr ><td >TAHMAR
</td><td >True
</td><td >0.5
</td><td >TG
</td><td >130.08184570311482
</td><td >174.8637132145622
</td><td >65.51436182594793
</td><td >P21/n
</td></tr><tr ><td >TAHMAR
</td><td >True
</td><td >0.5
</td><td >TT
</td><td >130.08184570311482
</td><td >-169.34545466608188
</td><td >-162.68318690339498
</td><td >P21/n
</td></tr><tr ><td >TAHMAR
</td><td >True
</td><td >0.75
</td><td >TG'
</td><td >92.50564661487446
</td><td >176.51193040396745
</td><td >-63.10278455810726
</td><td >P21/n
</td></tr><tr ><td >TAHMAR
</td><td >True
</td><td >0.25
</td><td >ET
</td><td >92.50564661487446
</td><td >140.50791264304655
</td><td >156.726557617988
</td><td >P21/n
</td></tr><tr ><td >TAJCUD
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-83.09615783934116
</td><td >-174.01402246574105
</td><td >-175.0026242605837
</td><td >P21/c
</td></tr><tr ><td >TAJCUD01
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >78.91796142074259
</td><td >67.96217440648488
</td><td >179.85817025522255
</td><td >Pna21
</td></tr><tr ><td >TAJCUD02
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >83.10210722699253
</td><td >174.03604999419375
</td><td >175.2449535709657
</td><td >P21/n
</td></tr><tr ><td >TAJCUD03
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >82.90508822488415
</td><td >174.18421210554567
</td><td >174.81344506841566
</td><td >P21/c
</td></tr><tr ><td >TAJCUD04
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >80.40844302314781
</td><td >67.13296756388759
</td><td >179.34538864635851
</td><td >Pna21
</td></tr><tr ><td >TAJDAK
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >77.68308236163858
</td><td >66.24799545506436
</td><td >-178.30749762334835
</td><td >Pna21
</td></tr><tr ><td >TAJDAK01
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-73.45389270347755
</td><td >-66.26710450304984
</td><td >177.23749865731097
</td><td >Pna21
</td></tr><tr ><td >TAJDAK02
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >76.55390710803971
</td><td >64.84799132085008
</td><td >-179.73619479999232
</td><td >Pna21
</td></tr><tr ><td >TAQWIT
</td><td >True
</td><td >0.75
</td><td >GT
</td><td >68.65178938994566
</td><td >65.64668498047412
</td><td >-179.23193779849422
</td><td >P212121
</td></tr><tr ><td >TAQWIT
</td><td >True
</td><td >0.25
</td><td >G'T
</td><td >68.65178938994566
</td><td >-78.72452449449516
</td><td >178.82443073789617
</td><td >P212121
</td></tr><tr ><td >TAQWIT
</td><td >True
</td><td >0.25
</td><td >G'T
</td><td >107.39862272247072
</td><td >-73.9097709230732
</td><td >-177.32729372099612
</td><td >P212121
</td></tr><tr ><td >TAQWIT
</td><td >True
</td><td >0.75
</td><td >GT
</td><td >107.39862272247072
</td><td >65.52312619141512
</td><td >-179.54536782173906
</td><td >P212121
</td></tr><tr ><td >TEQMIO
</td><td >True
</td><td >0.866
</td><td >G'T
</td><td >-130.37598959693864
</td><td >62.91882981278573
</td><td >179.47478757262473
</td><td >P21/c
</td></tr><tr ><td >TEQMIO
</td><td >True
</td><td >0.134
</td><td >TT
</td><td >-130.37598959693864
</td><td >172.78071702342933
</td><td >172.65355567971795
</td><td >P21/c
</td></tr><tr ><td >TEQMIO01
</td><td >True
</td><td >0.771
</td><td >TG'
</td><td >53.28378328808123
</td><td >-172.2941162456335
</td><td >-54.49214072232862
</td><td >P21/n
</td></tr><tr ><td >TEQMIO01
</td><td >True
</td><td >0.229
</td><td >TG
</td><td >53.28378328808123
</td><td >-175.43088068502755
</td><td >56.771450657941244
</td><td >P21/n
</td></tr><tr ><td >TOJTEU
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >95.48171580298147
</td><td >177.44302123333878
</td><td >-178.51908947809656
</td><td >P21/n
</td></tr><tr ><td >TOJTIY
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-121.47880944348701
</td><td >-179.37773005336214
</td><td >-177.7673137161682
</td><td >Pn
</td></tr><tr ><td >TOJTIY
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >93.69850955601359
</td><td >176.27877353722843
</td><td >161.4579155330175
</td><td >Pn
</td></tr><tr ><td >TOKFIJ
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-103.07527901589997
</td><td >53.27711943967073
</td><td >170.73093966290497
</td><td >P21/c
</td></tr><tr ><td >TOLNIU
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-140.20580435685116
</td><td >172.69667296229346
</td><td >172.28466294165352
</td><td >P212121
</td></tr><tr ><td >UHETAE
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-115.2813043842229
</td><td >-169.13408118460208
</td><td >169.65919913702749
</td><td >P-1
</td></tr><tr ><td >VAZCOR
</td><td >True
</td><td >0.5
</td><td >G'T
</td><td >-124.18751852732242
</td><td >70.4677506356061
</td><td >-152.5795580992958
</td><td >P212121
</td></tr><tr ><td >VAZCOR
</td><td >True
</td><td >0.5
</td><td >ST
</td><td >-124.18751852732242
</td><td >18.025640756685064
</td><td >171.23408788918965
</td><td >P212121
</td></tr><tr ><td >VAZCOR
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >91.52477636869736
</td><td >173.47107538499458
</td><td >-165.71250239660816
</td><td >P212121
</td></tr><tr ><td >VAZCUX
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-39.68494230771517
</td><td >-173.83648073287304
</td><td >178.2781697770079
</td><td >P-1
</td></tr><tr ><td >VAZCUX
</td><td >True
</td><td >0.67
</td><td >G'T
</td><td >-124.3834984489452
</td><td >70.5406929138755
</td><td >174.29580139434603
</td><td >P-1
</td></tr><tr ><td >VAZCUX
</td><td >True
</td><td >0.33
</td><td >G'E
</td><td >-124.3834984489452
</td><td >70.5406929138755
</td><td >-122.96065880332227
</td><td >P-1
</td></tr><tr ><td >VIGLUT
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-59.65963674349949
</td><td >-63.78866262041574
</td><td >-178.31173380092804
</td><td >P-1
</td></tr><tr ><td >VIGMAA
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >61.76008211020803
</td><td >62.382985011379745
</td><td >178.45373080346948
</td><td >P21/c
</td></tr><tr ><td >VIJNAE
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >68.55707755725668
</td><td >175.25226241304847
</td><td >175.32105583228577
</td><td >P21
</td></tr><tr ><td >VIJNAE
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-95.73607722830283
</td><td >177.73143042878178
</td><td >-167.8527020861521
</td><td >P21
</td></tr><tr ><td >VIJNAE
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >48.70168794899564
</td><td >62.16541958459033
</td><td >170.01449580172286
</td><td >P21
</td></tr><tr ><td >VIJNAE
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >92.25686650519653
</td><td >-176.13772296049743
</td><td >166.91469149445606
</td><td >P21
</td></tr><tr ><td >VIWZOR
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-113.09866793345917
</td><td >59.6290643773421
</td><td >-179.85716028838675
</td><td >P21/n
</td></tr><tr ><td >VIXVOO
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >83.93511359189962
</td><td >178.11124935982735
</td><td >-173.05727711838264
</td><td >P21/n
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >119.57622651975167
</td><td >-173.2926625707873
</td><td >-165.83333628713606
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >TG
</td><td >-99.83001714375429
</td><td >-172.375125328801
</td><td >-70.14485922490042
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-114.27500340883725
</td><td >-175.2724676057688
</td><td >-177.28849954029585
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >G'G'
</td><td >-81.17151889956669
</td><td >53.39612435189105
</td><td >67.03636745884967
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >pl-TS
</td><td >21.341294527735446
</td><td >-173.8746476108986
</td><td >-24.412137452499657
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >TG
</td><td >-105.3812020962805
</td><td >-168.13660610804
</td><td >-77.56454600380097
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >ET
</td><td >-31.927755954105262
</td><td >-135.43014255357488
</td><td >161.43806310212733
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >42.14988062416737
</td><td >177.737723717019
</td><td >169.67042355267918
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >GE
</td><td >-71.16389222679452
</td><td >-59.270260790518925
</td><td >-148.1459482777372
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >TG'
</td><td >-117.92820735382448
</td><td >178.43834473205843
</td><td >51.15747451778789
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >TG'
</td><td >60.36966755386588
</td><td >169.91921339887656
</td><td >-40.16699385034687
</td><td >P-1
</td></tr><tr ><td >WAVPUG
</td><td >True
</td><td >1.0
</td><td >pl-TE'
</td><td >7.110499069988945
</td><td >168.7916136669768
</td><td >-104.41317278622502
</td><td >P-1
</td></tr><tr ><td >WECYAF
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-91.08346025065947
</td><td >177.60516368619275
</td><td >-173.3849190450925
</td><td >P21/n
</td></tr><tr ><td >WEPNUC
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-79.75806108656285
</td><td >177.64849863762973
</td><td >-177.60304511830464
</td><td >P21/c
</td></tr><tr ><td >WEPPAK
</td><td >False
</td><td >1.0
</td><td >GE
</td><td >80.39964215465506
</td><td >63.272814012248844
</td><td >148.962885948728
</td><td >P-1
</td></tr><tr ><td >WEPPAK
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >99.10132099543716
</td><td >-70.92303790632029
</td><td >-163.2571650598029
</td><td >P-1
</td></tr><tr ><td >WEPPEO
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-77.13694116554444
</td><td >177.17475504550683
</td><td >-177.95625320953323
</td><td >P21/c
</td></tr><tr ><td >WESZAW
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-98.2227971653133
</td><td >-173.73413036523866
</td><td >-177.9356782614773
</td><td >Cc
</td></tr><tr ><td >WITJUE
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >67.5919834699855
</td><td >55.7719731364654
</td><td >173.64047161321886
</td><td >P212121
</td></tr><tr ><td >WITJUE01
</td><td >True
</td><td >0.818
</td><td >GT
</td><td >65.99319891619702
</td><td >57.92951593750358
</td><td >171.04904870234938
</td><td >P212121
</td></tr><tr ><td >WITJUE01
</td><td >True
</td><td >0.182
</td><td >G'T
</td><td >65.99319891619702
</td><td >-63.285734800130356
</td><td >171.7661830305249
</td><td >P212121
</td></tr><tr ><td >WIVJUI
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-83.1440840064502
</td><td >-66.92683264380894
</td><td >-178.91435821893523
</td><td >P21/c
</td></tr><tr ><td >WIVKAP
</td><td >True
</td><td >1.0
</td><td >EE'
</td><td >-176.78298112016745
</td><td >-144.83907569232946
</td><td >121.0076468292512
</td><td >P21/c
</td></tr><tr ><td >WIVKAP
</td><td >True
</td><td >1.0
</td><td >E'T
</td><td >-176.78298112016745
</td><td >136.1910031389774
</td><td >155.7368106131907
</td><td >P21/c
</td></tr><tr ><td >WIVKAP
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-96.79398108690891
</td><td >-176.4082114055193
</td><td >175.85821929931294
</td><td >P21/c
</td></tr><tr ><td >WIVKAP
</td><td >True
</td><td >1.0
</td><td >E'E
</td><td >-96.79398108690891
</td><td >146.49252796024936
</td><td >-133.93991451704974
</td><td >P21/c
</td></tr><tr ><td >WIVKET
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >133.77100464668112
</td><td >-65.865407159314
</td><td >179.6209921421461
</td><td >P-1
</td></tr><tr ><td >WIVKOD
</td><td >True
</td><td >0.5
</td><td >TT
</td><td >105.05612589857961
</td><td >173.61902070626113
</td><td >-164.67939041663314
</td><td >P-1
</td></tr><tr ><td >WIVKOD
</td><td >True
</td><td >0.5
</td><td >GT
</td><td >105.05612589857961
</td><td >66.42051040307567
</td><td >157.20906377337664
</td><td >P-1
</td></tr><tr ><td >WOKBEF
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >91.8261467333135
</td><td >67.67172290659788
</td><td >176.14946685743647
</td><td >P-1
</td></tr><tr ><td >WOVXOW
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-83.33907562213487
</td><td >-179.3674339185395
</td><td >-175.43987661510565
</td><td >Cc
</td></tr><tr ><td >WOVXOW
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-89.91698451197068
</td><td >179.0678256506498
</td><td >-175.05499535766154
</td><td >Cc
</td></tr><tr ><td >WOVXOW
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-87.71125316302985
</td><td >-177.91710036105292
</td><td >-171.5818286724496
</td><td >Cc
</td></tr><tr ><td >WOVXOW
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-81.76289665114717
</td><td >-179.22978946751036
</td><td >-176.24833130385247
</td><td >Cc
</td></tr><tr ><td >WOVXOW
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >78.37014208017656
</td><td >-178.41155364334622
</td><td >177.6430519197983
</td><td >Cc
</td></tr><tr ><td >WOVXOW
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-86.43066596416321
</td><td >-178.97412038525454
</td><td >-176.61823937585888
</td><td >Cc
</td></tr><tr ><td >XATLEM
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-106.08096819085956
</td><td >-178.4474410665494
</td><td >-174.7274279759368
</td><td >Pna21
</td></tr><tr ><td >XATLEM
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >98.95996261660262
</td><td >-69.35144227253986
</td><td >-172.87557240025325
</td><td >Pna21
</td></tr><tr ><td >XATLEM
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-106.48767906931842
</td><td >63.80677022902007
</td><td >173.04355305255024
</td><td >Pna21
</td></tr><tr ><td >XATLEM
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >100.6783496717558
</td><td >-56.49729742981827
</td><td >-176.37411537517443
</td><td >Pna21
</td></tr><tr ><td >XATLEM
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >97.88730978252681
</td><td >178.41789836623957
</td><td >172.95120344092248
</td><td >Pna21
</td></tr><tr ><td >XATLEM
</td><td >True
</td><td >0.857
</td><td >GT
</td><td >70.76757347524202
</td><td >56.94151655479579
</td><td >-174.7409418318967
</td><td >Pna21
</td></tr><tr ><td >XATLEM
</td><td >True
</td><td >0.143
</td><td >G'T
</td><td >70.76757347524202
</td><td >-54.39769432153985
</td><td >-178.11353985977095
</td><td >Pna21
</td></tr><tr ><td >XEQLOV
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-94.52744840866853
</td><td >61.697424265820416
</td><td >171.53133130818495
</td><td >P-1
</td></tr><tr ><td >XEQLOV
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >97.54126211415948
</td><td >-64.35947429958141
</td><td >175.85461351750627
</td><td >P-1
</td></tr><tr ><td >XEQLOV
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >113.8623977791897
</td><td >174.8272494371026
</td><td >-172.30155625561866
</td><td >P-1
</td></tr><tr ><td >XEQLOV
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >-138.59609607068884
</td><td >60.307191931202915
</td><td >175.0615474671354
</td><td >P-1
</td></tr><tr ><td >XODXOE
</td><td >True
</td><td >0.5
</td><td >TT
</td><td >-91.13464262439885
</td><td >179.829439792494
</td><td >-176.80017839906725
</td><td >P21/c
</td></tr><tr ><td >XODXOE
</td><td >True
</td><td >0.5
</td><td >TT
</td><td >-91.13464262439885
</td><td >179.829439792494
</td><td >-156.4184398836978
</td><td >P21/c
</td></tr><tr ><td >XODXOE
</td><td >True
</td><td >0.65
</td><td >TT
</td><td >101.02818753617547
</td><td >-168.22482128558667
</td><td >176.25549622779246
</td><td >P21/c
</td></tr><tr ><td >XODXOE
</td><td >True
</td><td >0.35
</td><td >EE
</td><td >101.02818753617547
</td><td >145.5855395272435
</td><td >95.23670553956401
</td><td >P21/c
</td></tr><tr ><td >XODXOE
</td><td >True
</td><td >0.55
</td><td >GT
</td><td >71.78332830319592
</td><td >57.62451922961209
</td><td >-179.51479871990492
</td><td >P21/c
</td></tr><tr ><td >XODXOE
</td><td >True
</td><td >0.45
</td><td >G'T
</td><td >71.78332830319592
</td><td >-52.02213567331524
</td><td >-176.1428225406521
</td><td >P21/c
</td></tr><tr ><td >XOPJET
</td><td >True
</td><td >0.566
</td><td >GT
</td><td >-72.24694447085396
</td><td >-54.28479966093205
</td><td >178.96600636011684
</td><td >P21/c
</td></tr><tr ><td >XOPJET
</td><td >True
</td><td >0.434
</td><td >G'T
</td><td >-72.24694447085396
</td><td >53.571583958567636
</td><td >175.11688842376518
</td><td >P21/c
</td></tr><tr ><td >XOPJET
</td><td >True
</td><td >0.625
</td><td >TT
</td><td >-98.35802621042536
</td><td >168.7348259529661
</td><td >-179.6038546847983
</td><td >P21/c
</td></tr><tr ><td >XOPJET
</td><td >True
</td><td >0.375
</td><td >TG
</td><td >-98.35802621042536
</td><td >-157.34948754954138
</td><td >-75.36197372543026
</td><td >P21/c
</td></tr><tr ><td >XOPJET
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >90.18657052263063
</td><td >-179.81825628780177
</td><td >169.56310125809043
</td><td >P21/c
</td></tr><tr ><td >XOPJIX
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >90.21397680166135
</td><td >179.65582973730406
</td><td >169.1401587669547
</td><td >P21/c
</td></tr><tr ><td >XOPJIX
</td><td >True
</td><td >0.552
</td><td >GT
</td><td >-71.63975473351333
</td><td >-55.65149479338273
</td><td >178.50055237698294
</td><td >P21/c
</td></tr><tr ><td >XOPJIX
</td><td >True
</td><td >0.448
</td><td >G'T
</td><td >-71.63975473351333
</td><td >52.40807356494674
</td><td >176.11386086527924
</td><td >P21/c
</td></tr><tr ><td >XOPJIX
</td><td >True
</td><td >0.634
</td><td >TT
</td><td >-98.29760551682377
</td><td >169.30480288006632
</td><td >-179.3511629797992
</td><td >P21/c
</td></tr><tr ><td >XOPJIX
</td><td >True
</td><td >0.366
</td><td >TG
</td><td >-98.29760551682377
</td><td >-157.04063125767593
</td><td >-75.3907453461155
</td><td >P21/c
</td></tr><tr ><td >XOPJOD
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-89.83683702468005
</td><td >-179.50754586197525
</td><td >-168.2506873365768
</td><td >P21/c
</td></tr><tr ><td >XOPJOD
</td><td >True
</td><td >0.633
</td><td >TT
</td><td >97.73985671721783
</td><td >-169.45518643544725
</td><td >179.2281392207392
</td><td >P21/c
</td></tr><tr ><td >XOPJOD
</td><td >True
</td><td >0.367
</td><td >TG
</td><td >97.73985671721783
</td><td >157.73458217572602
</td><td >75.03537433658623
</td><td >P21/c
</td></tr><tr ><td >XOPJOD
</td><td >True
</td><td >0.586
</td><td >GT
</td><td >71.86868997795527
</td><td >56.06862497791439
</td><td >-179.36335883196438
</td><td >P21/c
</td></tr><tr ><td >XOPJOD
</td><td >True
</td><td >0.414
</td><td >G'T
</td><td >71.86868997795527
</td><td >-51.372099616518966
</td><td >-177.90002108201048
</td><td >P21/c
</td></tr><tr ><td >XOPJUJ
</td><td >True
</td><td >0.591
</td><td >GT
</td><td >72.17148893837052
</td><td >55.986467359740956
</td><td >-179.0014506848183
</td><td >P21/c
</td></tr><tr ><td >XOPJUJ
</td><td >True
</td><td >0.409
</td><td >G'T
</td><td >72.17148893837052
</td><td >-51.5028318426618
</td><td >-176.04036823973638
</td><td >P21/c
</td></tr><tr ><td >XOPJUJ
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-89.06985364766919
</td><td >-179.40282136039383
</td><td >-168.2262072669887
</td><td >P21/c
</td></tr><tr ><td >XOPJUJ
</td><td >True
</td><td >0.615
</td><td >TT
</td><td >97.02835667953518
</td><td >-169.30575100320547
</td><td >179.0443109218785
</td><td >P21/c
</td></tr><tr ><td >XOPJUJ
</td><td >True
</td><td >0.385
</td><td >TG
</td><td >97.02835667953518
</td><td >158.40294248505086
</td><td >74.94915041911277
</td><td >P21/c
</td></tr><tr ><td >XOPKAQ
</td><td >True
</td><td >1.0
</td><td >ST
</td><td >-82.40731246740182
</td><td >-25.505120839077826
</td><td >177.67228390416392
</td><td >P21/c
</td></tr><tr ><td >XOPKAQ
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >88.64619172586843
</td><td >179.5148637016166
</td><td >167.77780027608284
</td><td >P21/c
</td></tr><tr ><td >XOPKAQ
</td><td >True
</td><td >0.62
</td><td >TT
</td><td >-96.22484178909397
</td><td >169.38878883160737
</td><td >-178.57741512275834
</td><td >P21/c
</td></tr><tr ><td >XOPKAQ
</td><td >True
</td><td >0.38
</td><td >TG
</td><td >-96.22484178909397
</td><td >-158.5241972064794
</td><td >-75.67589518294815
</td><td >P21/c
</td></tr><tr ><td >XUJPIC
</td><td >False
</td><td >1.0
</td><td >G'E'
</td><td >-116.69867570737442
</td><td >31.25896484156652
</td><td >100.76452658205434
</td><td >P21/c
</td></tr><tr ><td >XUJPOI
</td><td >False
</td><td >1.0
</td><td >TE'
</td><td >99.97466389003533
</td><td >168.40328145836887
</td><td >-104.80232645387261
</td><td >Pbca
</td></tr><tr ><td >XURQUZ
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >-104.41540858664679
</td><td >-162.5061523140293
</td><td >-64.99955406739694
</td><td >P21/n
</td></tr><tr ><td >YACQOK
</td><td >True
</td><td >1.0
</td><td >GG
</td><td >-81.01130688580379
</td><td >-65.31984255416583
</td><td >-62.29411176889896
</td><td >Cc
</td></tr><tr ><td >YACQOK
</td><td >True
</td><td >1.0
</td><td >GG
</td><td >-81.01130688580379
</td><td >-65.31984255416583
</td><td >-62.29411176889896
</td><td >Cc
</td></tr><tr ><td >YACQOK
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-89.44507845146141
</td><td >171.359395436774
</td><td >-169.6334765199549
</td><td >Cc
</td></tr><tr ><td >YACQOK
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >-95.8739461049477
</td><td >-67.63470686618055
</td><td >-174.1648913495057
</td><td >Cc
</td></tr><tr ><td >YACQOK
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >142.7783515113169
</td><td >-169.59993952091457
</td><td >-176.83648045926202
</td><td >Cc
</td></tr><tr ><td >YACQUQ
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >-97.16455910316074
</td><td >-56.269036511715086
</td><td >-177.07285474423543
</td><td >Cc
</td></tr><tr ><td >YACQUQ
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >39.65472806167796
</td><td >-177.81395646281132
</td><td >179.2367148878807
</td><td >Cc
</td></tr><tr ><td >YACQUQ
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >-125.15503661926849
</td><td >41.986172860761364
</td><td >176.90301326496908
</td><td >Cc
</td></tr><tr ><td >YACQUQ
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >52.04060053451264
</td><td >49.90689314684574
</td><td >-174.41005041157902
</td><td >Cc
</td></tr><tr ><td >YACQUQ
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >52.04060053451264
</td><td >31.350465409294568
</td><td >173.90910910330254
</td><td >Cc
</td></tr><tr ><td >YACQUQ01
</td><td >False
</td><td >1.0
</td><td >TE'
</td><td >-44.854428640157614
</td><td >167.76042117780958
</td><td >95.84010714770122
</td><td >Cc
</td></tr><tr ><td >YACQUQ01
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >114.65520257716503
</td><td >38.82442097218557
</td><td >178.44929663118413
</td><td >Cc
</td></tr><tr ><td >YACQUQ01
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >-98.49274448063287
</td><td >-71.56048648705038
</td><td >159.2920276954988
</td><td >Cc
</td></tr><tr ><td >YACQUQ01
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-93.72234128770815
</td><td >170.2054983345881
</td><td >-150.11467638057337
</td><td >Cc
</td></tr><tr ><td >YOKDOU
</td><td >True
</td><td >0.65
</td><td >GT
</td><td >82.71994048909589
</td><td >56.09175059840129
</td><td >176.19654795906217
</td><td >P21/c
</td></tr><tr ><td >YOKDOU
</td><td >True
</td><td >0.35
</td><td >G'T
</td><td >82.71994048909589
</td><td >-66.89609486696942
</td><td >-176.49838226535937
</td><td >P21/c
</td></tr><tr ><td >YOKFEM
</td><td >False
</td><td >1.0
</td><td >TE'
</td><td >130.49041381660183
</td><td >178.4014261640625
</td><td >-144.72234962487607
</td><td >P-1
</td></tr><tr ><td >ZECSUX
</td><td >True
</td><td >0.613
</td><td >G'T
</td><td >111.7952879122065
</td><td >-68.92872365817203
</td><td >177.0725054735826
</td><td >P21/n
</td></tr><tr ><td >ZECSUX
</td><td >True
</td><td >0.387
</td><td >TG'
</td><td >111.7952879122065
</td><td >179.92682485894875
</td><td >-75.02803682080504
</td><td >P21/n
</td></tr><tr ><td >ZECSUX
</td><td >True
</td><td >0.583
</td><td >TG
</td><td >-98.08873492259397
</td><td >-168.5872438122273
</td><td >-50.80595945006765
</td><td >P21/n
</td></tr><tr ><td >ZECSUX
</td><td >True
</td><td >0.417
</td><td >TG'
</td><td >-98.08873492259397
</td><td >-179.09195335972424
</td><td >75.78619789491303
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >G'T
</td><td >126.3300323394821
</td><td >-64.60952782651155
</td><td >-166.76479637942077
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >GG
</td><td >77.60983312834105
</td><td >59.988897527695684
</td><td >65.8831177797411
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >121.49405492476866
</td><td >-178.6857694936961
</td><td >173.4721444618874
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-96.03372848266629
</td><td >179.15785420177082
</td><td >179.0637277795575
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >G'E'
</td><td >-100.85101343919176
</td><td >30.919659968711507
</td><td >118.4380366054884
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >SE
</td><td >-100.85101343919176
</td><td >-3.715941160725925
</td><td >-139.0088289535975
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >75.8945818350675
</td><td >76.22520793032153
</td><td >178.09254823918423
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >TT
</td><td >-97.29045889911164
</td><td >-170.69291675338718
</td><td >-165.78730150104025
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >G'G'
</td><td >-98.16551622488917
</td><td >55.33626487693385
</td><td >74.1951323973578
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >GT
</td><td >100.84929326386248
</td><td >76.1498858467202
</td><td >168.68579586820823
</td><td >P21/n
</td></tr><tr ><td >ZEGWEP
</td><td >True
</td><td >1.0
</td><td >SG'
</td><td >-133.89912436738905
</td><td >21.538795600185328
</td><td >66.65493799220893
</td><td >P21/n
</td></tr><tr ><td >ZODGAC
</td><td >True
</td><td >1.0
</td><td >TG'
</td><td >115.66375372432285
</td><td >-174.17766147582964
</td><td >-50.991965684865995
</td><td >P21/n
</td></tr><tr ><td >ZODGEG
</td><td >False
</td><td >1.0
</td><td >GT
</td><td >77.30656554832942
</td><td >65.61477918467514
</td><td >172.52398426218843
</td><td >C2/c
</td></tr><tr ><td >ZODGIK
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-98.48723228066471
</td><td >-166.2320063884832
</td><td >169.71695270430757
</td><td >P21/c
</td></tr><tr ><td >ZODGOQ
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-68.77961215116952
</td><td >178.4422449937504
</td><td >178.4979558408472
</td><td >P21/c
</td></tr><tr ><td >ZODGOQ
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >124.4027528611198
</td><td >-60.28236815670575
</td><td >178.8327506109268
</td><td >P21/c
</td></tr><tr ><td >ZODGUW
</td><td >False
</td><td >1.0
</td><td >TT
</td><td >-68.17646374315743
</td><td >178.95684888523945
</td><td >-178.7066489974664
</td><td >P21/n
</td></tr><tr ><td >ZODHAD
</td><td >True
</td><td >0.609
</td><td >TT
</td><td >-141.22477800784165
</td><td >179.33109348600016
</td><td >177.75031474623358
</td><td >P-1
</td></tr><tr ><td >ZODHAD
</td><td >True
</td><td >0.391
</td><td >TG
</td><td >-141.22477800784165
</td><td >177.15824810486527
</td><td >-75.54311111295283
</td><td >P-1
</td></tr><tr ><td >ZODHEH
</td><td >False
</td><td >1.0
</td><td >TG'
</td><td >-102.5611662171551
</td><td >-176.687234218868
</td><td >67.15828617398513
</td><td >P-1
</td></tr><tr ><td >EKILES
</td><td >False
</td><td >1.0
</td><td >TE
</td><td >126.73587580030173
</td><td >158.2412481650252
</td><td >110.07498087288486
</td><td >P-1
</td></tr><tr ><td >SAJJUM
</td><td >True
</td><td >1.0
</td><td >EE
</td><td >-43.41472329110974
</td><td >-106.73750051931182
</td><td >-119.86879142718173
</td><td >P-1
</td></tr><tr ><td >YUWLIO
</td><td >False
</td><td >1.0
</td><td >TG
</td><td >96.55124789036464
</td><td >177.49458058603173
</td><td >71.01045623632477
</td><td >P21/c
</td></tr><tr ><td >YUWLIO
</td><td >False
</td><td >1.0
</td><td >G'T
</td><td >94.2841722832901
</td><td >-68.3540660820132
</td><td >-159.2021052633302
</td><td >P21/c
</td></tr><tr ><td >UNOPAR
</td><td >True
</td><td >0.5
</td><td >GT
</td><td >89.32398476791039
</td><td >77.3126150653245
</td><td >179.29429591979573
</td><td >P21/c
</td></tr><tr ><td >UNOPAR
</td><td >True
</td><td >0.5
</td><td >SS
</td><td >89.32398476791039
</td><td >4.080175813877371
</td><td >-9.28727432429263
</td><td >P21/c
</td></tr></tbody></table>